body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.myContainer {
  max-width: 1200px !important;
}
li.page-item > a {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #d8315b;
}
li.page-item.active > a {
  background-color: #d8315b;
  color: white !important;
}
li.page-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
li.page-item :hover {
  background-color: #d8315b;
  color: white;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .myContainer {
    padding: 30px 60px;
  }
}
@media (max-width: 414px) {
  div.myContainer {
    justify-content: center !important;
  }
}
